

*{
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  font-size: 16px; /* equal to 1em*/
  margin: 0;
}

button{
  cursor:pointer
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.outerCircle{
  background: #473C43;
  height: 300px;
  width: 300px;
  border-radius: 50%
}

@media (min-width: 500px){
  .outerCircle{
    height: 500px;
    width: 500px;
}
}

.colorButtonContainer{
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 98%;
  border-radius: 50%;
}

#red,
#blue,
#green,
#yellow {
  width: 50%;
  height: 50%;
  border: 2px solid #473C43;
  margin: 0;
}

#green{
  background: #35A900;
  border-top-left-radius: 100%;
}

#red{
  background: #FF4C00;
  border-top-right-radius: 100%;
}

#blue{
  background: #3B00FF;
  border-bottom-left-radius: 100%;
}

#yellow{
  background: #FFC105;
  border-bottom-right-radius: 100%;
}

#green:active,
#red:active,
#blue:active,
#yellow:active{
  outline-style: none;
  opacity: 0.5;
}

.innerCircle{
  width: 60%;
  height: 60%;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #473C43;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* title  SIMON */

.title{
  display: flex;
  justify-content: center;
  height: auto;
  margin: 3px 0 0 0 ;
}

p{
  color: #473C43;
  font-family:  arial;
  font-size: 1.75em;
  font-weight: bold;
}

@media (min-width: 500px){
  p{
    font-size: 3em;
  }
}


/* start reset strict $ display */

.commandContainer{
  display: flex;
  justify-content: space-around;
}

.commandButton{
  padding: 0;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 0.5em;
}

@media (min-width: 500px){
  .commandButton{
    height: 50px;
    width: 50px;
    font-size: 0.9em;
  }
}

.commandButton:focus{
  outline-width: 0;
  outline-style: none;
  outline: none;
}

#start{
  background-color: #35A900;
  color: #473C43
}

#start:active{
  background-color: #36FF00;
  color: #473C43;
}

#reset{
  /*margin: 0px 30px 0px 30px;*/
  background-color: #FF4C00;
  color: #473C43
}

#reset:active{
  background-color: #FFD4D0;
  color: #473C43
}

#strict{
  background-color: #FFC105;
  color: #473C43
}

#strict:active{
  background-color: #FFED9F;
  color: #473C43
}

/* other method for a toggle switch */


.switch{
  position: relative;
  width: 62px ;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  align-self: center;
}

.switchCheckbox{
  display: none;
}

.switchLabel{
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}

.switchInner{
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.switchInner:before,
.switchInner:after{
  display: block;
  float: left;
  width: 50%;
  height: 28px;
  padding-left: 0;
  line-height: 30px;
  font-size: 0.6em;
  color: white;
  font-family: arial;
  box-sizing: border-box;
}

.switchInner:before{
  padding-right: 8px;
}
.switchInner:after{
  padding-left: 8px;
}



@media (min-width: 500px){
  .switchInner:before,
  .switchInner:after{
    font-size: 0.9em;
  }
}

.switchInner:before{
  content: 'OFF';
  padding-left: 5px;
  background: #3B00FF;
  color: #fff;
}

.switchInner:after{
  content: 'ON';
  padding-right: 5px;
  background: #3B00FF;
  color: #fff;
  text-align: right;
}

.switchSwitch{
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 32px;
  /*border: 2px solid #999999;*/
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.switchCheckbox:checked + .switchLabel .switchInner{
  margin-left: 0;
}

.switchCheckbox:checked + .switchLabel .switchSwitch{
  right: 0px;
}


.display{
  display: flex;
  align-self: center;
  text-align: center;
  display: inline-block;
  width: 62px;
  height: 28px;
  border-radius: 14px;
  background-color: #630202;
  border: 2px solid #440202;
  font-size: 1em;
  padding-top: 4px;
  font-weight: bold;
  font-family: Arial;
  color: #db1515;

}





button::-moz-focus-inner{
  border: 0;
}
